name: Build Tony (Windows and Web)

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install wget (Windows)
        run: choco install wget --no-progress

      - name: Export game (Windows + Web)
        id: export
        uses: firebelley/godot-export@v6.0.0
        with:
          godot_executable_download_url: https://github.com/godotengine/godot/releases/download/4.4.1-stable/Godot_v4.4.1-stable_win64.exe.zip
          godot_export_templates_download_url: https://github.com/godotengine/godot/releases/download/4.4.1-stable/Godot_v4.4.1-stable_export_templates.tpz

          relative_project_path: Tony_Full
          presets_to_export: "Windows Desktop, Web"
          use_preset_export_path: true
          archive_output: false

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Tony_Build
          path: |
            Tony_Full/build/**
